<section class="intro">
    <div class="mask d-flex aling-items-center h-100 gradient-custom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-10">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="row d-flex aling-items-center">
                                <div class="col-md-6 col-xl-7">
                                    <div class="text-center pt-md-5 pb-5 my-md-5">
                                        <img id="imgLogo" src="https://img.freepik.com/vector-gratis/fondo-casino-realista_52683-8812.jpg?w=900&t=st=1664413650~exp=1664414250~hmac=3af3cf12ff37634b001f11760985f926a3de05391b1f7266106f94266e49732f">
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4 text center">

                                    <h2 class="fw-bold-md-4 pb-2">Iniciar Sesion</h2>

                                    <div class="form-outline mb-3">
                                        <input type="text" id="typeUsuario" class="form-control form-control-lg">
                                        <label for="typeUsuario" class="form-label">Usuario</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="typeUsuario" class="form-control form-control-lg">
                                        <label for="typePassword" class="form-label">Contraseña</label>
                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-info btn-block btn-lg">Ingresar</button>
                                        <p class="small mt-3 mb-4 text-muted">Olvidaste tu <span class="fw-bold"><a href="#!" class="text-muted">Email</a> / <a href="#!" class="text-muted">Contraseña</a></span></p>
                                        <a href="#!" class="link-info">Registrarse</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
