#img{
    width: auto;
    height: 6vh;
}
#navbar{
    min-height: 10vh;
}
#fondo { 
    /* background: url("https://raw.githubusercontent.com/Noe1129/Imagenes_blackjack/main/mesa.png") no-repeat center center fixed; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background: url(../assets/mesa2.png) no-repeat center fixed; 
    background-size: cover;
    height: 90vh;
}