<div class="container text-center">
  <div class="row  pt-2">
    <div class="col-2">
      <button *ngIf="volverAJugarMano" type="button" class="btn btn-dark btn-sm " (click)="jugarMano()">Jugar
        mano</button>
    </div>
    <div class="col-2">
      <button *ngIf="puntajeJugador < 21 && !manoTerminada" type="button"
        class="btn btn-warning btn-sm" (click)="obtenerCartaJugador()">Pedir Carta</button>
    </div>
    <div class="col-2">
      <button *ngIf="!manoTerminada" type="button" class="btn btn-warning btn-sm"
        (click)="terminarJugada()">Plantarse</button>
    </div>
    <div class="col-2">
      <button *ngIf="!volverAJugar" type="button" class="btn btn-warning btn-sm" (click)="limpiarMesa()">Volver a
        jugar</button>
    </div>
    <div style="margin-top: 50px;">

      <div class="row">
        <div class="col-2">
          <h6 class="fst-italic text-white">Puntaje Crupier: {{mostrarPuntajeCrupier}}</h6>
        </div>
        <div class="col-6">
          <app-blackjack-cartas [carta]=carta *ngFor="let carta of cartasCrupier"></app-blackjack-cartas>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-2">
          <h6 class="fst-italic text-white">Puntaje Jugador: {{mostrarPuntajeJugador}}</h6>
        </div>
        <div class="col-6">
          <app-blackjack-cartas [carta]=carta *ngFor="let carta of cartasJugador"></app-blackjack-cartas>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-2">
          <h6 class="fst-italic text-white">Mazos en juego: 1</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <h6 class="fst-italic text-white">Cartas en mazo: {{cartasSinJugar.length}}</h6>
        </div>
      </div>      
    </div>
  </div>