
body { 
    background: url("https://raw.githubusercontent.com/Noe1129/Imagenes_blackjack/main/mesa.png") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }