<div id="contenidoHome" class="container-fluid ">
    <body class="d-flex h-100 text-center text-bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3">
                <h1>21 BlackJack online</h1>
                <p class="lead">Tu juego favorito ahora online.<br>
                    Demuestra tu suerte y habilidad para conseguir 21
                </p>
                <Button type="button" class="btn btn-secondary me-md-3" routerLink="login">Login</Button>
                <Button type="button" class="btn btn-success">Singup</Button>
            </main>
        </div>
    </body>
</div>